* {
  margin: 0;
  padding: 0
}

.App {
  position: relative;
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav a {
  text-decoration: none;
  padding: 1rem;
  min-width: 100px;
  border-radius: 3rem;
  color: #000;
  text-transform: capitalize;
}

.nav a.active {
  background: black;
  color: #fff;
  box-shadow: 0 0 7px 5px rgba(0,0,0,.2);
}

.contacts-list {
  padding: .4rem
}

.contact-section:first-of-type {
  display: flex;
  flex: 0 0 90%;
}

.contacts-item img {
  max-width: 3rem;
  margin-right: 1.5rem;
}

.contacts-item h3 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contacts-item h3 small {
  font-size: 55%;
  background: red;
  padding: .06rem .5rem;
  border-radius: 3rem;
  color: #fff;
  width: 55px;
}

.add-contact {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: .85rem;
  right: .85rem;
  background: #000;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.add-contact svg {
  margin-top: 12px;
}

/* Forms */
.auth-form {
  padding: 0 2.25rem 2rem;
}
.auth-form .cta-select a {
  margin-top: 0;
}
.form-group {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  margin-bottom: 20px;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  /* border-left: none; */
}
.check-field {
  outline: none;
}
.login-form .form-group .input-field {
  border-left: none;
}
.form-group label {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  line-height: 1.125rem;
  color: #2b2b2b;
  letter-spacing: .04rem;
}
.form-group .input-icon {
  border: 1px solid #ccc;
  border-right: none;
  padding: 1em;
  display: flex;
  display: -webkit-flex;
}
.form-group .btn {
  width: 100%;
}
/* /Forms */
